<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form [formGroup]="form" *ngIf="!isLoading" (submit)="onSubmitPost()">
        <mat-form-field>
            <input 
                matInput 
                placeholder="Enter post title here" 
                formControlName="title" />
            <mat-error *ngIf="form.get('title')?.invalid">Please enter a valid title</mat-error>
        </mat-form-field>
        <div>
          <button mat-stroked-button type="button" (click)="fileInput.click()">Upload Image</button>
          <input type="file" #fileInput (change)="onImageUpload($event)" />
        </div>
        <div class="image-preview" *ngIf="imagePreview !=='' && imagePreview">
          <img [src]="imagePreview" [alt]="form.value.title">
        </div>
        <mat-form-field>
            <textarea 
                matInput 
                placeholder="Enter post content here" 
                rows="7" 
                formControlName="content"
            ></textarea>
            <mat-error *ngIf="form.get('content')?.invalid">Please enter a valid content</mat-error>
        </mat-form-field>
        <button 
            mat-raised-button 
            color="accent"
            type="submit"
        >Submit Post</button>
    </form>
</mat-card>
