<mat-card>
    <mat-spinner *ngIf="isLoading"></mat-spinner>
    <form (submit)="onSubmitPost(postForm)" #postForm="ngForm" *ngIf="!isLoading">
        <mat-form-field>
            <input 
                matInput 
                placeholder="Enter post title here" 
                name="title" 
                [ngModel]="post.title"
                required 
                minlength="3" 
                #title="ngModel" />
            <mat-error *ngIf="title.invalid">Please enter a valid title</mat-error>
        </mat-form-field>
        <mat-form-field>
            <textarea 
                matInput 
                placeholder="Enter post content here" 
                rows="7" 
                name="content" 
                [ngModel]="post.content"
                required
                minlength="10"
                #content="ngModel"
            ></textarea>
            <mat-error *ngIf="content.invalid">Please enter a valid content</mat-error>
        </mat-form-field>
        <button 
            mat-raised-button 
            color="accent"
            type="submit"
        >Submit Post</button>
    </form>
</mat-card>
